$cell-size: 100px;
$player-size: 0.8 * $cell-size;
$shift: ($cell-size - $player-size) / 2;
$col-count: 3;
$row-count: 3;

.game {
  position: relative;
  width: $col-count * $cell-size;
  border: 2px solid #000;
  
  &__field {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__cell {
    box-sizing: border-box;
    height: $cell-size;
    width: $cell-size;
    border: 1px dotted #000;
  }
  
  &__player {
    position: absolute;
    top: $shift;
    left: $shift;
  
    height: $player-size;
    width: $player-size;
    border-radius: 50%;

    @for $column from 1 through $col-count {
      &--x--#{$column} {
        left: ($column - 1) * $cell-size + $shift;
      }
    }

    @for $row from 1 through $row-count {
      &--y--#{$row} {
        top: ($row - 1) * $cell-size + $shift;
      }
    }
    
    $colors: 
      red #f00, 
      green #080, 
      blue #00f;

    @each $name, $color in $colors {
      &--color--#{$name} {
        background-color: $color;
      }
    }
  }
}
